

@import url('https://fonts.googlepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 1.3rem 4%;   
}

body{
    background-color: #fff;
}


.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.3);
    position: fixed;
    background: rgba(240, 166, 166, 0.644);
    z-index: 999;
    border-radius: 2px;
    padding: .2rem;
}

.header img{
    width: 100%;
    max-width: 30px;
}

.header #menu{
    margin-right: 1%;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}

.header #menu:hover{
    color: #f11d1d;
}

#story{
    width: 100%;
}

.story-content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 10px;
}

.story-content img{
    width: 100%;
    max-width: 530px;
    border-radius: 5px;
}


.right-story{
    width: 50%;
    padding: .4rem;
}

.right-story h1{
    font-size: 40px;
    padding: 1rem;
    font-weight: 400;
    color: #f11d1d;
}

.right-story p{
    line-height: 28px;
    color: #1a1717;
    font-size: 1rem;
    padding: .1px;
}

@media screen and (max-width:960px) {
    .story-content{
        flex-direction: column;
        align-items: center;
    }

    .right-story{
        width: 100%;
    }

    .story-content img{
        width: 100%;
    }
}


#places{
    width: 100%;
    margin-top: 3%;
}

.places{
    display: none;
    transition: .6s;
    position: relative;
    
}
.places.active{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}


.places img{
    width: 100%;
    max-width: 490px;
    box-shadow: -1.4rem -1.3rem .7rem  rgba(197, 134, 134, 0.3);
    border-radius: 5px;
}
.places .right-place{
    width: 70%;
    padding: .6rem;
    gap: 15px;
}

.right-place h1{
    font-size: 40px;
    padding: .5rem;
    font-weight: 400;
}

.right-place p{
    padding: .6rem;
    border-left: 4px solid rgb(247, 62, 62);
    line-height: 28px;
    color: #1a1717;
    font-size: 1rem;
}


.right-place .gallery{
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color:rgba(206, 25, 25, 0.829);
    backdrop-filter: blur(2px);
    color: #fff;
    border-radius: .5rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 5%;
}


.right-place .gallery:hover{
    color: fff;
    background-color: rgb(160, 31, 31);
}


.dates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dates::-webkit-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.dates .date{
    cursor: pointer;
    transition: .4s;
    position: relative;
    font-size: 14px;
}

.dates .date:before{
    content: "";
    position: absolute;
    background: rgb(231, 68, 68);
    width: 0;
    height: 3px;
    bottom: -10%;
    left: 10px;
    transition: 0.5s ease;
}

.dates .date.active{
    color: #f11d1d;
    font-size: 25px;
}

.dates .date.active:before{
    width: 50%;
}

.dates .date:hover{
    color: #f11d1d;
}


@media screen and (max-width: 930px) {

    .mega-place{
        position: relative;
    }
    .places{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
    }
/* 
    .places .left-place{
        width: 70%;
        height: 300px;
        margin-bottom: 5%;
    }

    .left-place .gallery{
        padding: 15px 55px;
        font-size: 15px;
        left: -100px;
    } */

    .places .right-place{
        width: 100%;
        margin-top: 5%;
        padding: .1rem;
        gap: 15px;
    }

    
.right-place h1{
    font-size: 30px;
    padding: .3rem;
}
    .right-place p{
    padding: .6rem;
    border-left: 4px solid rgb(247, 62, 62);
    line-height: 28px;
    color: #1a1717;
    font-size: 1.1rem;
}

    .dates{
        position: absolute;
        top: 43%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: .2rem;
        overflow-x: scroll;
        width: 90%;
        background: rgba(255,255,255,0.8);
        backdrop-filter: blur(2px);
    }

}


@media screen and (max-width: 462px) {
    .dates{
        top: 39%;
    }

    .places .right-place{
        margin-top: 10%;
        padding: .4rem;
    }

   
.right-place h1{
    font-size: 26px;
}
    
.right-place p{
    padding: .2rem;
    border-left: 4px solid rgb(247, 62, 62);
    line-height: 22px;
    font-size: .9rem;
}


.right-place .gallery{
    padding: 1rem .5rem;
    font-size: 15px;
}

}


@media screen and (max-width: 320px) {

    .dates{
        top: 30%;
    }

    .dates .date{
        font-size: 12px;
    }

    .dates .date.active{
        font-size: 20px;
    }

}


/*Pictures pop-up*/

/*Close button*/

.pictures1 .close1,
.pictures2 .close2,
.pictures3 .close3{
    position: absolute;
    top: 2px;
    right: 0;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 30px;
    background: linear-gradient(45deg, #db1c0e, #f01e17);
    border-radius: 4px;
    color: #fff;
    transition: .5s;
    
}

pictures1 .close1:hover,
pictures2 .close2:hover,
pictures3 .close3:hover{
    background: linear-gradient(45deg, #eb7971, #df706c);
}

.pictures1.active,
.pictures2.active,
.pictures3.active{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: rgba(236, 139, 139, 0.4);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    text-align: center;
    transition: all .5s;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    gap: 5px;
    animation: slideImage .6s linear;
    z-index: 999;
}

.pictures1,
.pictures2,
.pictures3{
    display: none;
}

@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}


.pictures1 .image,
.pictures1 .videos,
.pictures2 .image,
.pictures2 .videos,
.pictures3 .image,
.pictures3 .videos{
    height: 43vh;
    width: 40vh;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.pictures1 .image img,
.pictures1 .videos video,
.pictures2 .image img,
.pictures2 .videos video,
.pictures3 .image img,
.pictures3 .videos video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pictures1 .videos .active,
.pictures2 .videos .active,
.pictures3 .videos .active
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
    z-index: 1;
}


@media screen and (max-width: 600px) {
    .pictures1 .image,
    .pictures1 .videos,
    .pictures2 .image,
    .pictures2 .videos,
    .pictures3 .image,
    .pictures3 .videos{
    height: 28vh;
    width: 20vh;
}
}

@media screen and (max-width: 330px) {
    .pictures1 .image,
    .pictures1 .videos,
    .pictures2 .image,
    .pictures2 .videos,
    .pictures3 .image,
    .pictures3 .videos{
    height: 20vh;
    width: 14vh;
}
}





/*About Section Starts*/

#about{
    width: 100%;
    overflow-x: hidden;
    margin-top: 4%;
}

.about{
    display: flex;
    flex-direction: column;
}

.abt-title{
    padding: .6rem;
    text-align: center;
}

.abt-title h4{
    color: #db1c0e;
    margin-bottom: 1%;
}

.abt-title h2{
    font-weight: 400;
    line-height: 29px;
}

.abt-title span{
    font-weight: 600;
    color: #db1c0e;
}

.abt-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.abt-container .abt-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: .6rem;
}

.abt-container .abt-left h4{
    border-left: 3px solid #db1c0e;
    padding: .6rem;
    line-height: 25px;
}

.abt-container .abt-left p{
    padding: .6rem;
    line-height: 25px;
}
/* 
.abt-container .abt-left .abt-extra{
    display: flex;
    justify-content: center;
} */
/* 
.abt-container .abt-left .abt-extra p{
    width: 50%;
} */

@media screen and (max-width: 930px) {
    
    .abt-container{
        flex-direction: column;
    }

.abt-container .abt-left{
    width: 100%;
    gap: 16px;
    padding: .2rem;
}


.abt-container .abt-left .abt-extra{
    flex-direction:column;
}


.abt-container .abt-left .abt-extra p{
    width: 100%;
}

.abt-title{
    padding: .2rem;
}

.abt-title h4{
    color: #db1c0e;
    margin-bottom: 1%;
}

.abt-title h2{
    font-weight: 300;
}

.abt-container .abt-left h4{
    padding: .4rem;
}

.abt-container .abt-left p{
    padding: .2rem;
}
}

@media screen and (max-width: 400px) {
    
.abt-container .abt-left{
    width: 100%;
    gap: 16px;
    padding: .2rem;
}


.abt-title{
    padding: .2rem;
}

.abt-title h2{
    font-weight: 300;
    font-size: 20px;
}

.abt-container .abt-left h4{
    padding: .4rem;
    font-size: 15px;
}

.abt-container .abt-left p{
    padding: .1srem;
    font-size: 14px;
}
}


.abt-right{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;

}

.abt-right .abtr-image{
    width: 100%;
    max-width: 200px;
    height: 300px;
    border-radius: 30px;
}

.abt-right .abtr-image1{
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 5px;
}

.abt-right .abtr-image img,
.abt-right .abtr-image1 img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}

@media screen and (max-width: 765px) {
    .abt-right{
        width: 100%;
    }
}


.extra-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
    background-color: #fdfcfc;
}

.extra-info .abt-mission,
.extra-info .abt-vission{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 10px;
}

.extra-info .abt-mission .mis-title,
.extra-info .abt-vission .vis-title{
    padding: .7rem;
    font-size: 20px;
    color: #f11d1d;
}

.abt-mission .mis-left,
.abt-vission .vis-left{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding: .5rem;
    width: 50%;
}

/* .abt-mission .mis-left h3,
.abt-vission .vis-left h3{
    color: #f11d1d;
    font-size: 1.4rem;
    letter-spacing: 2px;
} */

.abt-mission img,
.abt-vission img{
    width: 100%;
    max-width: 480px;
}

.abt-mission .mis-left p,
.abt-vission .vis-left p{
    line-height: 22px;
    color: #1a1717;
    font-size: 1rem;
    padding: .7rem;
}


@media screen and (max-width: 860px) {
    
.extra-info .abt-mission{
    flex-direction: column;
    align-items: center;
}
.extra-info .abt-vission{
    flex-direction: column-reverse;
    align-items: center;
}


.abt-mission .mis-left,
.abt-vission .vis-left{
    width: 100%;
    padding: .8rem;
}

/* 
.abt-mission img,
.abt-vission img{
    max-width: 370px;
    height: 390px;
    text-align: center;
} */
}

/* 
@media screen and (max-width: 400px) {
    .abt-mission img,
    .abt-vission img{
    max-width: 260px;
    height: 290px;
}
} */



/* 
@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}  */

/*Top reaveal*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*left reaveal*/
.reveal-left{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal-left.active{
    transform: translateX(0px);
    opacity: 1;
}

/*Right reaveal*/
.reveal-right{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-right.active{
    transform: translateX(0px);
    opacity: 1;
}

.team{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: #fdfcfc;
    margin-top: 4%;
}

.team-title{
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-title h2{
    color: #f11d1d;
}

.team-title p{
    font-size: 15px;
}

.team-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.team-container .team-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    margin-bottom: 4%;
}

.team-card .ttop{
    margin-bottom: 3%;
    width: 100%;
}

.team-card .ttop h3{
    font-size: 15px;
}

.team-card .ttop p{
    color: #f11d1d;
}

.team-container .team-card img{
    width: 100%;
    max-width: 330px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.team-card a{
    text-decoration: none;
    color: #333;
}

.team-card i{
    font-size: 20px;
    transition: .5s;
}

.team-card i:hover{
    transform: translateY(-3px);
    color: #f11d1d;
}