
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif
}

#home{
    width: 100%;
    
}

.home{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background-image: url(vol.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.words{
    margin: 0;
    position: absolute;               
    bottom: 0%;  
}

#story{
    width: 100%;
}

.story-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 6px;
}

.left-story{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-story .lf-image{
    width: 100%;
    max-width: 630px;
    height: 500px;
    overflow: hidden;
}

.left-story .lf-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-story{
    width: 50%;
    padding: 1rem;
}

.right-story .right-content h1{
    font-size: 40px;
    padding: .6rem;
    font-weight: 400;
}

.right-story p{
    line-height: 25px;
}

@media screen and (max-width:700px) {
    .story-content{
        flex-direction: column-reverse;
    }

    .right-story{
        width: 100%;
    }

    .left-story{
        width: 100%;
    }

    .left-story .lf-image{
       
        width: 100%;
        max-width: 400px;
        height: 300px;
        overflow: hidden;
    }
}


#places{
    width: 100%;
    margin-top: 3%;
}

.places{
    display: none;
    transition: .6s;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}
.places.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.places .left-place{
    width: 43%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .places .left-place .lp-image{
    width: 100%;
    max-width: 480px;
    height: 500px;
    border-radius: 4px;
} */

.places .left-place img{
    width: 100%;
   height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.left-place .gallery{
    padding: 15px 80px;
    border-radius: 1px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    margin-top: 2%;
    background-color: crimson;
    position: absolute;
    left: -100px;
    top: 50%;
    transform: rotate(90deg);
    font-size: 14px;
    font-weight: 400;
}

.left-place .gallery:hover{
    color: aliceblue;
    background-color: rgb(119, 5, 28);
}

.places .right-place{
    width: 50%;
    padding: 1rem;
}

.right-place h1{
    font-size: 40px;
    padding: 1rem;
    font-weight: 400;
}

.right-place p{
    padding: .6rem;
    border-left: 4px solid rgb(247, 62, 62);
    line-height: 30px;
}


@media screen and (max-width: 700px) {
    .places{
       flex-direction: column;
    }

    .places .left-place{
        width: 60%;
        height: 300px;
    }

    .left-place .gallery{
        padding: 15px 60px;
        font-size: 15px;
        left: -100px;
    }

    .places .right-place{
        width: 100%;
    }
}
@media screen and (max-width: 300px) {

    
.places .left-place{
    width: 70%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.left-place .gallery{
    padding: 15px 40px;
    border-radius: 1px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    margin-top: 2%;
    background-color: crimson;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: rotate(90deg);
    font-size: 12px;
    font-weight: 400;
}
    
.right-place h1{
    font-size: 30px;
    padding: .3rem;
}

.right-place p{
    padding: .5rem;
    border-left: 1px solid rgb(247, 62, 62);
    line-height: 30px;
}

}


/*Pictures pop-up*/

/*Close button*/

.pictures1 .close1,
.pictures2 .close2,
.pictures3 .close3{
    position: absolute;
    top: 2px;
    right: 0;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 30px;
    background: linear-gradient(45deg, #db1c0e, #f01e17);
    border-radius: 4px;
    color: #fff;
    transition: .5s;
}

pictures1 .close1:hover,
pictures2 .close2:hover,
pictures3 .close3:hover{
    background: linear-gradient(45deg, #eb7971, #df706c);
}

.pictures1.active,
.pictures2.active,
.pictures3.active{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: rgba(236, 139, 139, 0.4);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    text-align: center;
    transition: all .5s;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    gap: 5px;
    animation: slideImage .6s linear;
}

.pictures1,
.pictures2,
.pictures3{
    display: none;
}

@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}


.pictures1 .image,
.pictures1 .videos,
.pictures2 .image,
.pictures2 .videos,
.pictures3 .image,
.pictures3 .videos{
    height: 43vh;
    width: 40vh;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.pictures1 .image img,
.pictures1 .videos video,
.pictures2 .image img,
.pictures2 .videos video,
.pictures3 .image img,
.pictures3 .videos video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pictures1 .videos .active,
.pictures2 .videos .active,
.pictures3 .videos .active
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
    z-index: 1;
}


@media screen and (max-width: 600px) {
    .pictures1 .image,
    .pictures1 .videos,
    .pictures2 .image,
    .pictures2 .videos,
    .pictures3 .image,
    .pictures3 .videos{
    height: 28vh;
    width: 20vh;
}
}

@media screen and (max-width: 330px) {
    .pictures1 .image,
    .pictures1 .videos,
    .pictures2 .image,
    .pictures2 .videos,
    .pictures3 .image,
    .pictures3 .videos{
    height: 20vh;
    width: 14vh;
}
}


.dates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 1rem;
    overflow-x: scroll;
}



.dates .date{
    cursor: pointer;
    transition: .4s;
    position: relative;
}

.dates .date:before{
    content: "";
    position: absolute;
    background: rgb(231, 68, 68);
    width: 0;
    height: 3px;
    bottom: -15%;
    left: 10px;
    transition: 0.5s ease;
}

.dates .date.active{
    color: red;
    font-size: 28px;
}

.dates .date.active:before{
    width: 50%;
}

.dates .date:hover{
    color: red;
}