
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif
}

#home{
    width: 100%;
    
}

.home{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background-image: url(vol.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.words{
    margin: 0;
    position: absolute;               
    bottom: 0%;  
}

#story{
    width: 100%;
}

.story-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 6px;
}

.left-story{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-story .lf-image{
    width: 100%;
    max-width: 330px;
    height: 500px;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 10px;
}

.left-story .lf-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-story{
    width: 60%;
    padding: 1rem;
}

.right-story p{
    font-size: 20px;
}

@media screen and (max-width:700px) {
    .story-content{
        flex-direction: column-reverse;
    }

    .right-story{
        width: 100%;
    }

    .left-story{
        width: 100%;
    }

    .left-story .lf-image{
       
        width: 100%;
        max-width: 400px;
        height: 300px;
        overflow: hidden;
        border: 3px solid #eee;
        border-radius: 10px;
    }
}

#places{
    width: 100%;
    margin-top: 3%;
}

.places{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.places .left-place{
    width: 40%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .places .left-place .lp-image{
    width: 100%;
    max-width: 480px;
    height: 500px;
    border-radius: 4px;
} */

.places .left-place img{
    width: 100%;
   height: 100%;
    object-fit: cover;
}

.left-place .gallery{
    padding: 15px 80px;
    border-radius: 1px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    margin-top: 2%;
    background-color: crimson;
    position: absolute;
    left: -120px;
    top: 50%;
    transform: rotate(90deg);
    font-size: 18px;
    font-weight: 400;
}

.left-place .gallery:hover{
    color: aliceblue;
    background-color: rgb(119, 5, 28);
}

.places .right-place{
    width: 50%;
    padding: 1rem;
}

.right-place h1{
    font-size: 40px;
    padding: 1rem;
}

.right-place p{
    padding: 1rem;
    border-left: 1px solid rgb(247, 62, 62);
    line-height: 30px;
}


@media screen and (max-width: 700px) {
    .places{
       flex-direction: column;
    }

    .places .left-place{
        width: 60%;
        height: 300px;
    }

    .left-place .gallery{
        padding: 15px 60px;
        font-size: 15px;
        left: -100px;
    }

    .places .right-place{
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    
.right-place h1{
    font-size: 30px;
    padding: .3rem;
}

.right-place p{
    padding: .5rem;
    border-left: 1px solid rgb(247, 62, 62);
    line-height: 30px;
}

}